accelerate==0.34.2
addict==2.4.0
aiohttp==3.9.3
aiosignal==1.3.1
aliyun-python-sdk-core==2.15.0
aliyun-python-sdk-kms==2.16.2
annotated-types==0.6.0
anyio==4.6.0
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.2.0
Authlib==1.3.0
backoff==2.2.1
bcrypt==4.1.2
bs4==0.0.2
build==1.1.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.4.24
cloudpickle==3.0.0
coloredlogs==15.0.1
crcmod==1.7
cryptography==42.0.5
dashscope==1.14.1
dataclasses-json==0.6.4
datasets==2.18.0
Deprecated==1.2.14
dill==0.3.8
dirtyjson==1.0.8
distro==1.9.0
docutils==0.20.1
einops==0.7.0
exceptiongroup==1.2.2
Farama-Notifications==0.0.4
filelock==3.13.1
FlagEmbedding==1.2.11
flatbuffers==23.5.26
frozenlist==1.4.1
fsspec==2023.10.0
gast==0.5.4
googleapis-common-protos==1.62.0
greenlet==3.0.3
grpcio==1.66.2
grpcio-health-checking==1.62.0
grpcio-tools==1.66.2
gymnasium==0.29.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.25.1
humanfriendly==10.0
hyperframe==6.0.1
idna==3.6
importlib-metadata==7.0.1
inquirerpy==0.3.4
jaraco.classes==3.3.1
jeepney==0.8.0
Jinja2==3.1.4
jmespath==0.10.0
joblib==1.3.2
keyring==24.3.1
kubernetes==29.0.0
llama-index-agent-openai==0.1.5
llama-index-cli==0.1.7
llama-index-core==0.10.16.post1
llama-index-embeddings-openai==0.1.6
llama-index-indices-managed-llama-cloud==0.1.3
llama-index-legacy==0.9.48
llama-index-llms-openai==0.1.7
llama-index-multi-modal-llms-openai==0.1.4
llama-index-program-openai==0.1.4
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.7
llama-index-readers-llama-parse==0.1.3
llama-index-vector-stores-chroma==0.1.5
llama-parse==0.3.6
llamaindex-py-client==0.1.13
MarkupSafe==2.1.5
marshmallow==3.21.1
mmh3==4.1.0
modelscope==1.13.3
monotonic==1.6
more-itertools==10.2.0
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
networkx==3.2.1
nh3==0.2.15
nltk==3.8.1
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.68
nvidia-nvtx-cu12==12.1.105
onnxruntime==1.17.1
opentelemetry-api==1.23.0
opentelemetry-exporter-otlp-proto-common==1.23.0
opentelemetry-exporter-otlp-proto-grpc==1.23.0
opentelemetry-instrumentation==0.44b0
opentelemetry-instrumentation-asgi==0.44b0
opentelemetry-instrumentation-fastapi==0.44b0
opentelemetry-proto==1.23.0
opentelemetry-sdk==1.23.0
opentelemetry-semantic-conventions==0.44b0
opentelemetry-util-http==0.44b0
orjson==3.9.15
oss2==2.18.4
packaging==23.2
pandas==2.2.0
peft==0.13.0
pfzy==0.3.4
pillow==10.2.0
pkginfo==1.10.0
platformdirs==4.2.0
portalocker==2.10.1
posthog==3.5.0
prompt-toolkit==3.0.43
protobuf==5.28.2
psutil==6.0.0
pulsar-client==3.4.0
pyarrow==15.0.0
pyarrow-hotfix==0.6
pycparser==2.21
pycryptodome==3.20.0
pydantic==2.9.2
pydantic-settings==2.2.1
pydantic_core==2.23.4
PyJWT==2.8.0
PyMuPDF==1.23.26
PyMuPDFb==1.23.22
pypdf==4.1.0
PyPika==0.48.9
pyproject_hooks==1.0.0
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
qdrant-client==1.11.3
readme_renderer==43.0
regex==2024.9.11
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.12.0
SecretStorage==3.3.3
sentence-transformers==3.1.1
shortuuid==1.0.12
simplejson==3.19.2
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.28
sympy==1.13.3
tenacity==8.2.3
threadpoolctl==3.5.0
tokenizers==0.20.0
tomli==2.0.1
torch==2.4.1
torch_geometric==2.5.3
tqdm==4.66.2
transformers==4.45.1
triton==3.0.0
twine==5.0.0
typing_extensions==4.9.0
tzdata==2024.1
urllib3==2.2.1
uvloop==0.19.0
validators==0.22.0
watchfiles==0.21.0
websocket-client==1.7.0
xxhash==3.4.1
yapf==0.40.2
yarl==1.9.4
zhipuai==2.0.1
zipp==3.17.0
